**Importing libraries**

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files

**Uploading data file**

In [ ]:
uploaded=files.upload()

Saving Titanic_dataset.csv to Titanic_dataset.csv

**Reading csv file and displaying the top 5 entries**

In [ ]:
df=pd.read_csv('Titanic_dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Getting information about our dataset**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Dropping missing or irrelevant columns**

In [ ]:
df.drop('Cabin',axis=1,inplace=True)

**Imputing missing values: median for numerical and mode for categorical features**

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [ ]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

**Mean age of people who did not survive**

In [ ]:
mean_age_dead = df[df['Survived'] == 0]['Age'].mean()
print("ðŸ”¹ Mean age of passengers who did not survive:", mean_age_dead)

ðŸ”¹ Mean age of passengers who did not survive: 30.028233151183972

**Mean fare of people who did not survive**

In [ ]:
mean_fare_dead = df[df['Survived'] == 0]['Fare'].mean()
print("ðŸ”¹ Mean fare of passengers who did not survive:", mean_fare_dead)

ðŸ”¹ Mean fare of passengers who did not survive: 22.117886885245902

**Median fare of people who did not survive**

In [ ]:
median_fare_dead = df[df['Survived'] == 0]['Fare'].median()
print("ðŸ”¹ Median fare of passengers who did not survive:", median_fare_dead)

ðŸ”¹ Median fare of passengers who did not survive: 10.5

**Mean age of people who survived**

In [ ]:
mean_age_survived = df[df['Survived'] == 1]['Age'].mean()
print("ðŸ”¹ Mean age of passengers who survived:", mean_age_survived)

ðŸ”¹ Mean age of passengers who survived: 28.29143274853801

**Mean fare of people who survived**

In [ ]:
mean_fare_survived = df[df['Survived'] == 1]['Age'].mean()
print("ðŸ”¹ Mean fare of passengers who survived:", mean_fare_survived)

ðŸ”¹ Mean fare of passengers who survived: 28.29143274853801

**Total number of survivors**

In [ ]:
total = df['Survived'].sum()
print("ðŸ”¹ Total number of survivors:", total)

ðŸ”¹ Total number of survivors: 342

**Mean age of male survivors**

In [ ]:
mean_age_male_survived = df[(df['Survived']==1) & (df['Sex']=='male')]['Age'].mean()
print("ðŸ”¹ Mean age of male survivors:", mean_age_male_survived)

ðŸ”¹ Mean age of male survivors: 27.382293577981653

**Mean age of female survivors**

In [ ]:
mean_age_female_survived = df[(df['Survived']==1) & (df['Sex']=='female')]['Age'].mean()
print("ðŸ”¹ Mean age of female survivors:", mean_age_female_survived)

ðŸ”¹ Mean age of female survivors: 28.716738197424892

**Median fare of passengers under 10 years old**

In [ ]:
under_10 = df[df['Age']<10]['Fare'].median()
print("""ðŸ”¹ Median fare of passengers under 10 years old:""", under_10)

ðŸ”¹ Median fare of passengers under 10 years old: 27.0

**Mean fare by passenger class**

In [ ]:
df[df['Pclass']==1]['Fare'].mean()
df[df['Pclass']==2]['Fare'].mean()
df[df['Pclass']==3]['Fare'].mean()

np.float64(13.675550101832993)

**Median fare by passenger class**

In [ ]:
df[df['Pclass']==1]['Fare'].median()
df[df['Pclass']==2]['Fare'].median()
df[df['Pclass']==3]['Fare'].median()

8.05

**This table shows the average (mean) and median ticket fares for each passenger class (Pclass)**

In [ ]:
df.groupby('Pclass')['Fare'].agg(['mean', 'median'])

             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

**Calculating death count by gender/Counting total and deceased passengers by gender**

We calculate how many males and females were onboard, and how many of them died (did not survive).

In [ ]:
total_male = df[df['Sex'] == 'male'].shape[0]
total_female = df[df['Sex'] == 'female'].shape[0]
die_male = df[(df['Survived'] == 0) & (df['Sex'] == 'male')].shape[0]
die_female = df[(df['Survived'] == 0) & (df['Sex'] == 'female')].shape[0]

**Calculating death rate by gender**

We divide the number of deceased passengers by total passengers of each gender to find the death rate.

In [ ]:
male_death_rate = die_male / total_male
female_death_rate = die_female / total_female
print("Male death rate is",male_death_rate)
print("Female death rate is",female_death_rate)

Male death rate is 0.8110918544194108
Female death rate is 0.25796178343949044

### Observation:
The death rate for males was significantly higher than for females.  
This supports the known "women and children first" evacuation policy on the Titanic.